
/* Slector de color */

.color-slider {
    width: 100%;
    -webkit-appearance: none;
    margin: 0;
}

.color-slider:focus { outline: none; }

.color-slider::-webkit-slider-runnable-track {
    width: 100%;
    height: 100%;
    cursor: pointer;
    box-shadow: 0 4px 4px rgba(0,0,0,0.3) inset;
    background: linear-gradient(to right, rgb(250,250,188), rgb(204,166,55) 25%, rgb(164, 90, 53) 50%, rgb(62,36,13) 75%, rgb(6,2,1));
    border-radius: 20px;
    border: 0.2px solid #010101;
}

.color-slider::-webkit-slider-thumb {
    box-shadow: 2px 2px 2px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;    
    height: 100%;
    width: 20px;
    border-radius: 20px;
    background: lightgray;
    cursor: pointer;
    -webkit-appearance: none;    
}

.color-slider::-webkit-slider-thumb:hover {
    background: white;
}

.color-slider:before {
    content: attr(min);
    margin-right: 10px;    
    color: black;
    font-size: 1.5em;
}

.color-slider:after {
    content: attr(max);
    margin-left: 10px;        
    color: black;
    font-size: 1.5em;
}

.color-value {        
    font-size: 1.5em;            
}